alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ~="cd ~"
alias -- -="cd -"

alias grep="grep --color=auto "
alias untar="tar xvf"

alias g="git"
alias h="history"

if [[ "$OSTYPE" == "linux-gnu" ]]; then
  alias cwd="pwd | tr -d '\r\n' | xclip -selection clipboard"
elif [[ "$OSTYPE" == "darwin"* ]]; then
  alias cwd="pwd | tr -d '\r\n' | pbcopy"
fi
