export HISTFILE=${HOME}/.histfile
export SAVEHIST=10000
export HISTSIZE=50000000;
export HISTFILESIZE=$HISTSIZE;
export HISTCONTROL=ignoredups;

export LANG="en_US.UTF-8";
export LC_ALL="en_US.UTF-8";

[[ `isInstalled node` = "1" ]] && export NODE_ENV="development"
[[ `isInstalled vim` = "1" ]] && export EDITOR="vim"

[ ! -d "${HOME}/spells" ] && mkdir ${HOME}/spells

export PATH="${HOME}/spells:$PATH"

if [ -d "/usr/local/opt/nvm" ]; then
  export NVM_DIR="${HOME}/.nvm"
  [ -s "/usr/local/opt/nvm/nvm.sh" ] && \
    . "/usr/local/opt/nvm/nvm.sh"
  [ -s "/usr/local/opt/nvm/etc/bash_completion" ] && \
    . "/usr/local/opt/nvm/etc/bash_completion"
fi

if [ -L "/usr/local/opt/php@7.2" ]; then
  export PATH="/usr/local/opt/php@7.2/sbin:/usr/local/opt/php@7.2/bin:$PATH"
fi

if [ -L "/usr/local/opt/python@3.8" ]; then
  export PATH="/usr/local/opt/python@3.8/bin:$PATH"
fi

if [ -L "/usr/local/opt/openjdk" ]; then
  export PATH="/usr/local/opt/openjdk/bin:$PATH"
fi

