echo "start .functions"

function isInstalled() { [[ `which $1 2> /dev/null` ]] && echo 1 || echo 0; }

function history%() {
	history | \
	awk '{ CMD[$2]++; count++; } END { \
		for(a in CMD) print CMD[a] " " CMD[a] / count * 100 "% " a; \
	}' | \
	grep -v "./" | column -c3 -s " " -t | sort -nr | nl | head -n10;
}

if [[ `isInstalled git` = "1" ]]; then
	function parseGitBranch() {
		git branch 2> /dev/null | sed -e '/^[^*]/d' -e 's/* \(.*\)/ (\1)/';
	}
fi

function battery() {
	printf "Health: ";
	cat /sys/class/power_supply/battery/health
	printf "Status: ";
	cat /sys/class/power_supply/battery/status;
	printf "Capacity: %s%%\n" `cat /sys/class/power_supply/battery/capacity`;
}

echo "end .functions"
