[core]
  eol = lf
  autocrlf = false
  trustctime = false
  editor = vim

[user]
  name = Omar Parkes
  email = 7733575+omrprks@users.noreply.github.com

[color]
  ui = auto

[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green

[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red
  new = green

[color "status"]
  added = green
  changed = yellow
  untracked = red

[diff]
  renames = copies

[help]
  autocorrect = 0

[merge]
  log = true

[push]
  default = simple

[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true

[alias]
  s = status -s
  cl = clone --recursive
  d = !"${SHELL} -c 'git diff-index --quiet HEAD -- || clear; git --no-pager diff --patch-with-stat'"
  l = log --pretty=oneline -n 20 --graph --abbrev-commit
  cm = commit -m
  ca = commit -a
  cam = commit -am
  current = show --stat --oneline HEAD
  stat = l --stat
  patch = add --patch
  tags = tag -l
  get-tag = !"${SHELL} -c 'git name-rev --tags --name-only $(git rev-parse HEAD)'"
  branches = branch -a
  remotes = remote -v
  contributors = shortlog --summary --numbered
  amend = commit --amend --reuse-message=HEAD
  pushd = push -u origin HEAD
  latest-tag = describe --tags --abbrev=0

[url "git@github.com:"]
  insteadOf = https://github.com/

[credential]
  helper = /usr/local/share/gcm-core/git-credential-manager-core

[credential "https://dev.azure.com"]
  useHttpPath = true

