[core]
  eol = lf
  autocrlf = false
  trustctime = false
  editor = vim

[user]
  name = Omar Parkes
  email = 7733575+omrprks@users.noreply.github.com

[color]
  ui = auto

[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green

[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red
  new = green

[color "status"]
  added = green
  changed = yellow
  untracked = red

[diff]
  renames = copies

[help]
  autocorrect = 0

[merge]
  log = true

[push]
  default = simple

[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true

[alias]
  s = status -s
  c = clone --recursive
  d = !'git diff-index --quiet HEAD -- || clear; git --no-pager diff --patch-with-stat'
  l = log --pretty=oneline -n 20 --graph --abbrev-commit
  stat = l --stat
  patch = add --patch
  tags = tag -l
  branches = branch -a
  remotes = remote -v
  contributors = shortlog --summary --numbered
  amend = commit --amend --reuse-message=HEAD
